@import url('https://fonts.googleapis.com/css?family=Google+Sans:400,500|Roboto:400,400italic,500,500italic,700,700italic|Roboto+Mono:400,500,700|Material+Icons');




body {
    background-color: #f0f0f0;
    font-family: 'Google Sans', 'Roboto', "San Francisco",
        "Segoe UI",
        Helvetica,
        Arial,
        sans-serif;
    color: #111;
    overflow-x: hidden;

}

.p404 {
    overflow: hidden;

    h1 {
        font-size: 3em;
        position: absolute;
        left: 8vw;
        top: 10vh;
        font-weight: bold;
        z-index: 100;
    }

    div {
        z-index: 2;

        &#f {
            top: 8vh;
            position: absolute;
            right: 0;
        }

        img.e4-1 {
            width: 15vw;
            margin-bottom: 4vh;
        }

        img.e0 {
            width: 15vw;
            margin-bottom: 12vh;
            margin-left: -4vw;
        }

        img.e4-2 {
            width: 15vw;
            margin-left: -2vw;
        }

        img.eIcosa {
            height: 80vh;
            position: absolute;
            left: -18vw;

        }

        img.eCone {
            top: 33vh;
            height: 50vh;
            transform: rotate(30deg);
            position: absolute;
            right: 25vw;
        }

        img.eDisc {
            top: 50vh;
            width: 40vw;
            transform: rotate(-3deg);
            position: absolute;
            right: 40vw;
        }
    }
}

nav {
    color: #eee;
    z-index: 1000;
    background: #111;
    height: 50px;
    width: 100vw;
    position: fixed;
    padding: 3px 8vw;
    display: grid;
    place-items: center start;
    grid-auto-flow: column;

    transition: background ease-out .2s;

    .links {
        width: 100%;
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: 1fr min-content;

        * {
            padding: 1px 10px;

            * {
                text-align: right;
                color: inherit;
                text-decoration: none;
                float: right;

                &:hover {
                    cursor: pointer;
                }

                &:visited {
                    color: inherit;
                }
            }
        }
    }

    &>div {

        a img {
            height: 25px;
        }
    }

    &:hover {
        background: #0f0f0f;
    }

    &.landing {
        background: rgba($color: #000, $alpha: 0.1);
        transition: background ease .3s;

        &:hover {
            background: rgba($color: #000, $alpha: 0.2);
        }
    }
}

header {
    user-select: none;

    img {
        width: 100vw;
        z-index: 50;
    }

    div {
        z-index: 500;
        position: absolute;
        left: 53vw;
        color: #eee;
        top: 20vh;

        button {
            margin-left: 15vw;
        }
    }

}

main {
    position: absolute;
    font-size: 17pt;
    top: 50px;
    width: 100vw;
}

.centeredLayout {
    display: grid;
    grid-template: 100% / 1fr 3fr 1fr;

}

.Popup {
    position: fixed;
    background-color: #fcfcfc;
    border-radius: 15px;
    border: rgb(196, 196, 196) solid 1px;
    padding: 22px;
    margin: 13px;
    box-shadow: 0 0 10px 2px rgb(185, 185, 185);
    min-width: 18%;
    float: right;

    p {
        font-size: 15pt;
    }

    button {
        margin: 3px;
    }
}

.cookieP {
    width: 100vw;
    height: 90px;

    font-size: 15pt;
    position: fixed;
    bottom: 0;
    display: grid;
    place-items: center;
    grid-template: 100% / 1fr auto;

    div {
        background-color: #eee;
        border-top-left-radius: 9px;
        border-top-right-radius: 9px;
        bottom: 0;
        padding: 23px;
    }
}