body {
    background-color: #f0f0f0;
    font-family: system-ui, 'Google Sans', 'Roboto', "San Francisco",
        "Segoe UI",
        Helvetica,
        Arial,
        sans-serif;
    color: #111;

    overflow-x: hidden;

}



nav {
    color: #eee;
    z-index: 1000;
    background: #111;
    height: 50px;
    width: 100vw;
    position: fixed;
    padding: 3px 8vw;
    display: grid;
    place-items: center start;
    grid-auto-flow: column;

    transition: background ease-out .2s;

    .links {
        width: 100%;
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: 1fr min-content;

        * {
            padding: 1px 10px;

            * {
                text-align: right;
                color: inherit;
                text-decoration: none;
                float: right;

                &:hover {
                    cursor: pointer;
                }

                &:visited {
                    color: inherit;
                }
            }
        }
    }

    &>div {

        a img {
            height: 25px;
        }
    }

    &:hover {
        background: #0f0f0f;
    }

    &.landing {
        background: rgba($color: #000, $alpha: 0.1);
        transition: background ease .3s;

        &:hover {
            background: rgba($color: #000, $alpha: 0.2);
        }
    }
}

header {
    user-select: none;

    img {
        width: 100vw;
        z-index: 50;
    }

    div {
        z-index: 500;
        position: absolute;
        left: 53vw;
        color: #eee;
        top: 20vh;

        button {
            margin-left: 15vw;
        }
    }

}

main {
    position: absolute;
    //font-size: 17pt;
    top: 50px;
    width: 100vw;
}

.centeredLayout {
    display: grid;
    grid-template: 100% / 0.6fr 3fr 1fr;

}

.Popup {
    position: fixed;
    background-color: #fcfcfc;
    border-radius: 15px;
    border: rgb(196, 196, 196) solid 1px;
    //padding: 22px;
    margin: 2rem;
    box-shadow: 0 0 10px 2px rgb(185, 185, 185);
    min-width: 18%;
    right: 0;
    max-width: 23rem;
}


.cookieP {
    width: 100vw;
    height: 90px;

    font-size: 15pt;
    position: fixed;
    bottom: 0;
    display: grid;
    place-items: end center;
    grid-template: 100% / 1fr auto;

    div {
        background-color: #eee;
        border-top-left-radius: 9px;
        border-top-right-radius: 9px;
        bottom: 0;
        padding: 23px;

    }
}

.vSep {
    height: 65%;
    width: 1px;
    background: rgb(110, 110, 110);
    margin: auto;
    margin-left: 10vw;
    margin-right: 10vw;
}

.connectMainDiv {
    .card {
        padding-top: 4vh;
        padding-bottom: 4vh;
    }

    form {
        width: 80%;

        input {

            margin: 3vh;
            margin-left: 0;

            &#Rpassword {
                margin-bottom: 0;
            }
        }
    }
}